{% comment %}
<h1>{{ 'customer.account.title' | t }}</h1>

<h2>{{ 'customer.orders.title' | t }}</h2>

{% paginate customer.orders by 20 %}
  {% if customer.orders.size != 0 %}
    <table class="responsive-table">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr class="responsive-table-row">
            <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

{{ customer.default_address | format_address }}
{% endcomment %}
<script>
  let str = window.location.href,
          customer = '{{ customer.id }}';
  if(str.indexOf('account?to') != -1){
    document.location.href = '/{{ shop.metafields.gwa.app_proxy }}/subscriptions/'+ customer;
  }
</script>

<div class="customer-page">
  <div class="customer-bar">
    <div>
      <h3>{{ 'customer.account.title' | t }}</h3>
      <a href="/account" class="customer-bar-link active">{% include 'icon-order-history' %} {{ 'customer.orders.title' | t }}</a>
      <a href="/{{ shop.metafields.gwa.app_proxy }}/subscriptions/{{ customer.id }}" class="customer-bar-link">{% include 'icon-subscriptions' %} Subscriptions</a>
      {% comment %}<a href="/account/addresses" class="customer-bar-link">{% include 'icon-address' %} Address </a>{% endcomment %}
      <a href="/{{ shop.metafields.gwa.app_proxy }}/payment/{{ customer.id }}" class="customer-bar-link">{% include 'icon-customer-change-payment' %} Payment</a>
      <a href="/account/logout" id="customer_logout_link" class="customer-bar-link">{% include 'icon-log-out' %} Log out</a>
    </div>
  </div>
  <div class="customer-content">
    <h2>{{ 'customer.orders.title' | t }}</h2>

    {% paginate customer.orders by 5 %}
    {% if customer.orders.size != 0 %}
    <p>{{ customer.orders.size }} {{ customer.orders.size | pluralize: 'item', 'items' }}</p>
    <div class="customer-content-orders">
      {% for order in customer.orders %}
        {% assign order_products = 0 %}
        {% for item in order.line_items %}
          {% assign item_qty = item.quantity | times: 1 %}
          {% assign order_products = order_products | plus: item_qty %}
        {% endfor %}
      <div class="customer-content-list-order">
        <div class="list-order-img">
          <img src="https://cdn.shopify.com/s/files/1/0279/1823/7834/files/wm-box.png?v=1588750867" alt="WM delivery box">
        </div>
        <div class="list-order-content{% if order.financial_status_label == 'Pending' %} pending{% endif %}">
          <div class="list-order-number">
            <h4>{{ order_products }} {{ order_products | pluralize: 'Product', 'Products' }} in Your Order</h4>
            <p>Order No : {{ order.name }}</p>
          </div>
          <div class="list-order-status{% if order.financial_status_label == 'Pending' or order.financial_status_label == 'Voided' %} pending{% endif %}">
            {% if order.financial_status_label == 'Voided' %}<p>Canceled</p>{% else %}<p>{{ order.financial_status_label }}</p>{% endif %}
            <p>{{ order.created_at | date: format: 'month_day_year' }}</p>
          </div>
          <div class="list-order-price">
            {{ order.total_price | money }}
          </div>
          <div>
            <a href="{{ order.customer_url }}">Details</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
    {% endpaginate %}

    {% comment %}
    <h2 class="account-full-address">{{ 'customer.account.details' | t }}</h2>
    <div class="customer-full-address">
        <div>
          {{ customer.default_address | format_address }}
          <p>{{ customer.email }}</p>
          <p>{{ customer.phone }}</p>
        </div>

        <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}{% comment %} ({{ customer.addresses_count }}){% endcomment %}</a>
      </div>
    {% endcomment %}

  </div>
</div>
