<div id="CustomerActivateAccountForm">

  <h1>{{ 'customer.activate_account.title' | t }}</h1>
  <p>{{ 'customer.activate_account.subtext' | t }}</p>

  {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}

  <div class="CustomerPassword-wrapper">
      <label for="CustomerPassword">
        {{ 'customer.activate_account.password' | t }}
      </label>
      <input type="password"
        name="customer[password]"
        id="CustomerPassword"
        class="inputPassword"
        placeholder="{{ 'customer.activate_account.password' | t }}">
    <span class="showpass"></span>
    </div>

  <div class="CustomerPassword-wrapper">
      <label for="CustomerPasswordConfirmation">
        {{ 'customer.activate_account.password_confirm' | t }}
      </label>
      <input type="password"
        name="customer[password_confirmation]"
        id="CustomerPasswordConfirmation"
        class="inputPassword"
        placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
    <span class="showpass"></span>
    </div>

    <div class="registerBtn-wrapper">
      <input type="submit" class="btn btn--secondary cancelBtn hide" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      <input type="submit" class="btn centre-input-position" value="{{ 'customer.activate_account.submit' | t }}">
    </div>
  {% endform %}
</div>