{% paginate customer.addresses by 5 %}
    {% comment %}
        <header role="banner">
            <h1>{{ 'customer.account.title' | t }}</h1>
            <button type="button" class="btn address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
        </header>

        <p>
            <a href="/account">{{ 'customer.account.return' | t }}</a>
        </p>

        <div id="AddressNewForm" class="hide">
            {% form 'customer_address', customer.new_address %}
                <h2>{{ 'customer.addresses.add_new' | t }}</h2>

                <label for="AddressFirstNameNew">
                    {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                       name="address[first_name]"
                       id="AddressFirstNameNew"
                       value="{{ form.first_name }}"
                       autocapitalize="words">

                <label for="AddressLastNameNew">
                    {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                       name="address[last_name]"
                       id="AddressLastNameNew"
                       value="{{ form.last_name }}"
                       autocapitalize="words">

                <label for="AddressCompanyNew">
                    {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                       name="address[company]"
                       id="AddressCompanyNew"
                       value="{{ form.company }}"
                       autocapitalize="words">

                <label for="AddressAddress1New">
                    {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                       name="address[address1]"
                       id="AddressAddress1New"
                       value="{{ form.address1 }}"
                       autocapitalize="words">

                <label for="AddressAddress2New">
                    {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                       name="address[address2]"
                       id="AddressAddress2New"
                       value="{{ form.address2 }}"
                       autocapitalize="words">

                <label for="AddressCityNew">
                    {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                       name="address[city]"
                       id="AddressCityNew"
                       value="{{ form.city }}"
                       autocapitalize="words">

                <label for="AddressCountryNew">
                    {{ 'customer.addresses.country' | t }}
                </label>
                <select
                        name="address[country]"
                        id="AddressCountryNew"
                        data-default="{{ form.country }}">
                    {{ country_option_tags }}
                </select>

                <div id="AddressProvinceContainerNew" style="display: none">
                    <label for="AddressProvinceNew">
                        {{ 'customer.addresses.province' | t }}
                    </label>
                    <select
                            name="address[province]"
                            id="AddressProvinceNew"
                            data-default="{{ form.province }}">
                    </select>
                </div>

                <label for="AddressZipNew">
                    {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                       name="address[zip]"
                       id="AddressZipNew"
                       value="{{ form.zip }}"
                       autocapitalize="characters">

                <label for="AddressPhoneNew">
                    {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                       name="address[phone]"
                       id="AddressPhoneNew"
                       value="{{ form.phone }}"
                       pattern="[0-9\-]*">

                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">
                    {{ 'customer.addresses.set_default' | t }}
                </label>

                <input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}">
                <button type="button" class="address-new-toggle">
                    {{ 'customer.addresses.cancel' | t }}
                </button>

            {% endform %}

        </div>

        <h2>{{ 'customer.addresses.title' | t }}</h2>

        {% for address in customer.addresses %}

            {% if address == customer.default_address %}
                <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
            {% endif %}
            {{ address | format_address }}

            <button type="button" class="address-edit-toggle" data-form-id="{{ address.id }}">
                {{ 'customer.addresses.edit' | t }}
            </button>
            <button type="button" class="address-delete" data-form-id="{{ address.id }}"
                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
            </button>

            <div id="EditAddress_{{ address.id }}" class="hide">
                {% form 'customer_address', address %}

                    <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                    <label for="AddressFirstName_{{ form.id }}">
                        {{ 'customer.addresses.first_name' | t }}
                    </label>
                    <input type="text"
                           name="address[first_name]"
                           id="AddressFirstName_{{ form.id }}"
                           value="{{ form.first_name }}"
                           autocapitalize="words">

                    <label for="AddressLastName_{{ form.id }}">
                        {{ 'customer.addresses.last_name' | t }}
                    </label>
                    <input type="text"
                           name="address[last_name]"
                           id="AddressLastName_{{ form.id }}"
                           value="{{ form.last_name }}"
                           autocapitalize="words">

                    <label for="AddressCompany_{{ form.id }}">
                        {{ 'customer.addresses.company' | t }}
                    </label>
                    <input type="text"
                           name="address[company]"
                           id="AddressCompany_{{ form.id }}"
                           value="{{ form.company }}"
                           autocapitalize="words">

                    <label for="AddressAddress1_{{ form.id }}">
                        {{ 'customer.addresses.address1' | t }}
                    </label>
                    <input type="text"
                           name="address[address1]"
                           id="AddressAddress1_{{ form.id }}"
                           value="{{ form.address1 }}"
                           autocapitalize="words">

                    <label for="AddressAddress2_{{ form.id }}">
                        {{ 'customer.addresses.address2' | t }}
                    </label>
                    <input type="text"
                           name="address[address2]"
                           id="AddressAddress2_{{ form.id }}"
                           value="{{ form.address2 }}"
                           autocapitalize="words">

                    <label for="AddressCity_{{ form.id }}">
                        {{ 'customer.addresses.city' | t }}
                    </label>
                    <input type="text"
                           name="address[city]"
                           id="AddressCity_{{ form.id }}"
                           value="{{ form.city }}"
                           autocapitalize="words">

                    <label for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                    </label>
                    <select
                            name="address[country]"
                            id="AddressCountry_{{ form.id }}"
                            class="address-country-option"
                            data-form-id="{{ form.id }}"
                            data-default="{{ form.country }}">
                        {{ country_option_tags }}
                    </select>

                    <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                        <label for="AddressProvince_{{ form.id }}">
                            {{ 'customer.addresses.province' | t }}
                        </label>
                        <select
                                name="address[province]"
                                id="AddressProvince_{{ form.id }}"
                                data-default="{{ form.province }}">
                        </select>
                    </div>

                    <label for="AddressZip_{{ form.id }}">
                        {{ 'customer.addresses.zip' | t }}
                    </label>
                    <input type="text"
                           name="address[zip]"
                           id="AddressZip_{{ form.id }}"
                           value="{{ form.zip }}"
                           autocapitalize="characters">

                    <label for="AddressPhone_{{ form.id }}">
                        {{ 'customer.addresses.phone' | t }}
                    </label>
                    <input type="tel"
                           name="address[phone]"
                           id="AddressPhone_{{ form.id }}"
                           value="{{ form.phone }}"
                           pattern="[0-9\-]*">

                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                    </label>

                    <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
                    <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
                        {{ 'customer.addresses.cancel' | t }}
                    </button>

                {% endform %}

            </div>
        {% endfor %}

    {% endcomment %}

<div class="customer-page">
  <div class="customer-bar">
    <div>
      <h3>{{ 'customer.account.title' | t }}</h3>
      <a href="/account" class="customer-bar-link">{% include 'icon-order-history' %} {{ 'customer.orders.title' | t }}</a>
      <a href="/{{ shop.metafields.gwa.app_proxy }}/subscriptions/{{ customer.id }}" class="customer-bar-link">{% include 'icon-subscriptions' %} Subscriptions</a>
      {% comment %}<a href="/account/addresses" class="customer-bar-link active">{% include 'icon-address' %} Address </a>{% endcomment %}
      <a href="/{{ shop.metafields.gwa.app_proxy }}/payment/{{ customer.id }}" class="customer-bar-link">{% include 'icon-customer-change-payment' %} Payment</a>
      <a href="/account/logout" id="customer_logout_link" class="customer-bar-link">{% include 'icon-log-out' %} Log out</a>
    </div>
  </div>
  <div class="customer-content">
     <div class="customer-content-address">
        <h2>{{ 'customer.addresses.title' | t }}</h2>
        <button type="button" class="btn address-new-toggle">{% include 'icon-plus' %} {{ 'customer.addresses.add_new' | t }}</button>

         {% for address in customer.addresses %}
                {% comment %}
                    {% if address == customer.default_address %}
                        <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
                    {% endif %}
                {% endcomment %}
            <div class="customer-full-address">
                {{ address | format_address }}
                <div class="address-buttons">
                    <button type="button" class="address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
                        <button type="button" class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                            {{ 'customer.addresses.delete' | t }}
                        </button>
                </div>
            </div>

             <div id="EditAddress_{{ address.id }}" class="edit-address form-customer-addresses hide">
                    {% form 'customer_address', address %}
                        <h3>{{ 'customer.addresses.edit_address' | t }}</h3>
                        <div class="form-customer-content">
                            <p><label for="AddressFirstName_{{ form.id }}">
                                    {{ 'customer.addresses.first_name' | t }}
                                </label>
                                <input type="text"
                                       name="address[first_name]"
                                       id="AddressFirstName_{{ form.id }}"
                                       value="{{ form.first_name }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.first_name' | t }}">
                            </p>
                            <p><label for="AddressLastName_{{ form.id }}">
                                    {{ 'customer.addresses.last_name' | t }}
                                </label>
                                <input type="text"
                                       name="address[last_name]"
                                       id="AddressLastName_{{ form.id }}"
                                       value="{{ form.last_name }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.last_name' | t }}">
                            </p>
                            <p><label for="AddressAddress1_{{ form.id }}">
                                    {{ 'customer.addresses.address1' | t }}
                                </label>
                                <input type="text"
                                       name="address[address1]"
                                       id="AddressAddress1_{{ form.id }}"
                                       value="{{ form.address1 }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.address1' | t }}">
                            </p>
                            <p><label for="AddressCompany_{{ form.id }}">
                                    {{ 'customer.addresses.company' | t }}
                                </label>
                                <input type="text"
                                       name="address[company]"
                                       id="AddressCompany_{{ form.id }}"
                                       value="{{ form.company }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.company' | t }}">
                            </p>
                            <p><label for="AddressAddress2_{{ form.id }}">
                                    {{ 'customer.addresses.address2' | t }}
                                </label>
                                <input type="text"
                                       name="address[address2]"
                                       id="AddressAddress2_{{ form.id }}"
                                       value="{{ form.address2 }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.address2' | t }}">
                            </p>
                            <p><label for="AddressCity_{{ form.id }}">
                                    {{ 'customer.addresses.city' | t }}
                                </label>
                                <input type="text"
                                       name="address[city]"
                                       id="AddressCity_{{ form.id }}"
                                       value="{{ form.city }}"
                                       autocapitalize="words"
                                        placeholder="{{ 'customer.addresses.city' | t }}">
                            </p>
                            <div id="AddressDeliveryBlockEdit" class="key-{{ form.id }}">
                                <label for="searchFormCustomerEdit">Delivery locations</label>
                                <input id="searchFormCustomerEdit"  type="text" class="delivery-location searchFormEdit empty" placeholder="Enter suburb name or postcode" autocomplete="off">
                                <ul class="searchBlockEdit" id="searchBlockEdit" style="cursor: pointer; background-color: white; display: none;"></ul>
                            </div>
                            <p><label for="AddressCountry_{{ form.id }}">
                                    {{ 'customer.addresses.country' | t }}
                                </label>
                                <select
                                        name="address[country]"
                                        id="AddressCountry_{{ form.id }}"
                                        class="address-country-option"
                                        data-form-id="{{ form.id }}"
                                        data-default="{{ form.country }}">
                                    {{ country_option_tags }}
                                </select>
                            </p>
                            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                                <label for="AddressProvince_{{ form.id }}">
                                    {{ 'customer.addresses.province' | t }}
                                </label>
                                <select
                                        name="address[province]"
                                        id="AddressProvince_{{ form.id }}"
                                        data-default="{{ form.province }}">
                                </select>
                            </div>
                            <p>
                                <label for="AddressZip_{{ form.id }}">
                                    {{ 'customer.addresses.zip' | t }}
                                </label>
                                <input type="text"
                                       name="address[zip]"
                                       id="AddressZip_{{ form.id }}"
                                       value="{{ form.zip }}"
                                       autocapitalize="characters"
                                        placeholder="{{ 'customer.addresses.zip' | t }}">
                            </p>
                            <p>
                                <label for="AddressPhone_{{ form.id }}">
                                    {{ 'customer.addresses.phone' | t }}
                                </label>
                                <input type="tel"
                                       name="address[phone]"
                                       id="AddressPhone_{{ form.id }}"
                                       value="{{ form.phone }}"
                                       pattern="[0-9\-]*">
                            </p>
                            <p class="form-checkbox">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}">
                                    {{ 'customer.addresses.set_default' | t }}
                                </label>
                            </p>
                        </div>
                        <div class="buttons-new-address">
                            <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
                                {{ 'customer.addresses.cancel' | t }}
                            </button>
                            <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
                        </div>
                    {% endform %}

                </div>
         {% endfor %}
            <div id="AddressNewForm" class="hide form-customer-addresses new-addresses-form">
                {% form 'customer_address', customer.new_address %}
                <h3>{{ 'customer.addresses.add_new' | t }}</h3>
                <div class="form-customer-content">
                    <p><label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                        <input type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.first_name' | t }}"></p>
                    <p><label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                        <input type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}" autocapitalize="words" placeholder="{{ 'customer.addresses.last_name' | t }}"></p>
                    <p><label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                        <input type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address1' | t }}"></p>
                    <p><label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                        <input type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}" autocapitalize="words" placeholder="{{ 'customer.addresses.company' | t }}"></p>
                    <p><label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                        <input type="text" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}" autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}"></p>
                    <p><label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                       <input type="text" name="address[city]" id="AddressCityNew" value="{{ form.city }}" autocapitalize="words" placeholder="{{ 'customer.addresses.city' | t }}"></p>
                    <div id="AddressDeliveryBlock">
                        <label for="searchFormCustomer">Delivery locations</label>
                        <input id="searchFormCustomer"  type="text" class="delivery-location searchForm empty" placeholder="Enter suburb name or postcode" autocomplete="off">
                        <ul class="searchBlock" id="searchBlock" style="cursor: pointer; background-color: white; display: none;"></ul>
                    </div>
                    <p><label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                        <select name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}">{{ country_option_tags }}</select></p>
                    <div id="AddressProvinceContainerNew" style="display: none">
                        <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                        <select name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}"></select>
                    </div>
                    <p><label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                        <input type="text" placeholder="{{ 'customer.addresses.zip' | t }}" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}" autocapitalize="characters"></p>
                    <p><label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                        <input type="tel" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}" pattern="[0-9\-]*" placeholder="{{ 'customer.addresses.phone' | t }}"></p>
                    <p class="form-checkbox">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                    </p>
                </div>
                <div class="buttons-new-address">
                    <button type="button" class="address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
                    <input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}">
                </div>
            </div>


            {% endform %}
         {% if paginate.pages > 1 %}
             {% include 'pagination' %}
         {% endif %}
     </div>
        {% comment %}
            {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}
                    <p>{{ customer.orders.size }} {{ customer.orders.size | pluralize: 'item', 'items' }}</p>
                    <div class="customer-content-orders">
                        {% for order in customer.orders %}
                            <div class="customer-content-list-order">
                                <div class="list-order-img">
                                    <img src="https://cdn.shopify.com/s/files/1/0279/1823/7834/files/wm-box.png?v=1588750867"
                                         alt="WM delivery box">
                                </div>
                                <div class="list-order-content{% if order.financial_status_label == 'Pending' %} pending{% endif %}">
                                    <div class="list-order-number">
                                        <h4>{{ order.line_items.size }} {{ customer.orders.size | pluralize: 'Product', 'Products' }}
                                            in Your Order</h4>
                                        <p>Order No : {{ order.name }}</p>
                                    </div>
                                    <div class="list-order-status{% if order.financial_status_label == 'Pending' %} pending{% endif %}">
                                        <p>{{ order.financial_status_label }}</p>
                                        <p>{{ order.created_at | date: format: 'month_day_year' }}</p>
                                    </div>
                                    <div class="list-order-price">
                                        {{ order.total_price | money }}
                                    </div>
                                    <div>
                                        <a href="{{ order.customer_url }}">Details</a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{{ 'customer.orders.none' | t }}</p>
                {% endif %}

                {% if paginate.pages > 1 %}
                    {% include 'pagination' %}
                {% endif %}
            {% endpaginate %}
            <h2 class="account-full-address">{{ 'customer.account.details' | t }}</h2>
            <div class="customer-full-address">
                <div>
                    {{ customer.default_address | format_address }}
                    <p>{{ customer.email }}</p>
                    <p>{{ customer.phone }}</p>
                </div>

                <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}{% comment %} ({{ customer.addresses_count }}){% endcomment %}</a>
            </div>
        {% endcomment %}
  </div>
</div>
{% endpaginate %}

<script>

    $('.address-edit-toggle').click(function () {
        let key = $(this).data('form-id'),
            delivery_str = ''; //WORONORA HEIGHTS, NSW, 2233, Sydney

    });

    let kitchen_centre_key = window.theme.kitchenCentreKey,
        all_regions = [],
        all_delivery_places = [];

    $.getJSON('/apps/' + kitchen_centre_key + '/getDeliveryRegions', function(data) {
        if(data){
            customerDelivery(data);
        }
        return data;
    });

    function customerDelivery(all_info) {
        var general_info = all_info.general,
            regions = all_info.regions,
            kitchen_time_zone = general_info.time,
            general_delivery_hours = general_info.hours,
            cutoff_time = general_info.cutoff_time;

        for(var i=0; regions.length>i; i++){
            var name_region = regions[i]['name'];
            all_regions.push(name_region);
        }
        for (var i=0; i<regions.length; i++){
            var places_arr = regions[i]['places'];
            for(var j =0; j<places_arr.length; j++){
                all_delivery_places.push(places_arr[j]);
            }
        }
        searchPlaces(all_delivery_places, regions, kitchen_time_zone, general_delivery_hours, cutoff_time);
        searchPlacesEdit(all_delivery_places, regions, kitchen_time_zone, general_delivery_hours, cutoff_time);
    }

    function searchPlaces(data, regions, kitchen_time_zone, general_delivery_hours, cutoff_time){
        $('#searchFormCustomer').on('input', function () {
            var str = $(this).val();

            if( str.length > 2 ){
                var input_val = $(this).val().toLowerCase();
                if(data.length != undefined && data.length>0){
                    $(".searchBlock").html('');
                    var count_li = 0;
                    for(var i = 0; data.length>i; i++){
                        var content =  removeСomma(data[i]);
                        if(content.toLowerCase().indexOf(input_val) != -1){
                            var li_val = removeСomma(data[i]);
                            $('.searchBlock').append('<li class="delivery_place" data-place="'+data[i]+'"><span></span>'+li_val+'</li>');
                            count_li++;
                        }
                    }
                    if(count_li>0){
                        $('.searchBlock').css('display', 'block');
                        $('#AddressDeliveryBlock').removeClass('empty');
                    }else{
                        $('.searchBlock').css('display', 'none');
                        $('#AddressDeliveryBlock').addClass('empty');
                    }
                }
            }else{
                $('.searchBlock').css('display', 'none');
            }
            showBlocPlaces(regions, kitchen_time_zone, general_delivery_hours, cutoff_time);
        });
    }

    function removeСomma(first_str){
        var change_str = first_str.replace(/,/ig, '');
        return change_str;
    }

    function showBlocPlaces(){
        $('.searchBlock > li').on('click',function(){
            let text = $(this).text();
            $('#searchFormCustomer').val(text);
            $('.searchBlock').css('display', 'none');
        });
    }

    function searchPlacesEdit(data, regions, kitchen_time_zone, general_delivery_hours, cutoff_time){
        console.log('searchPlacesEdit');
        $('.searchFormEdit').on('input', function () {
            var str = $(this).val();
            console.log('edit');
            console.log(str);
            if( str.length > 2 ){
                var input_val = $(this).val().toLowerCase();
                if(data.length != undefined && data.length>0){
                    $(".searchBlockEdit").html('');
                    var count_li = 0;
                    for(var i = 0; data.length>i; i++){
                        var content =  removeСomma(data[i]);
                        if(content.toLowerCase().indexOf(input_val) != -1){
                            var li_val = removeСomma(data[i]);
                            $('.searchBlockEdit').append('<li class="delivery_place" data-place="'+data[i]+'"><span></span>'+li_val+'</li>');
                            count_li++;
                        }
                    }
                    if(count_li>0){
                        $('.searchBlockEdit').css('display', 'block');
                        $('#AddressDeliveryBlockEdit').removeClass('empty');
                    }else{
                        $('.searchBlockEdit').css('display', 'none');
                        $('#AddressDeliveryBlockEdit').addClass('empty');
                    }
                }
            }else{
                $('.searchBlockEdit').css('display', 'none');
            }
            showBlocPlacesEdit(regions, kitchen_time_zone, general_delivery_hours, cutoff_time);
        });
    }

    function showBlocPlacesEdit(){
        $('.searchBlockEdit > li').on('click',function(){
            let text = $(this).text();
            $('.searchFormEdit').val(text);
            $('.searchBlockEdit').css('display', 'none');
        });
    }

</script>