<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>

<div id="CustomerLoginForm">
  {% form 'customer_login' %}
    <h1>{{ 'customer.login.title' | t }}</h1>
    <p class="invited-message hide" style="color: #f40009">Please, check your inbox for your account activation to log in! Or we can send you another one, click <a class="invited-link">here</a>!</p>

    {{ form.errors | default_errors }}

    <label for="CustomerEmail">
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %}"
           placeholder="{{ 'customer.login.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           autofocus>

    {% if form.password_needed %}
      <div class="CustomerPassword-wrapper">
        <label for="CustomerPassword">
          {{ 'customer.login.password' | t }}
        </label>
        <input type="password"
               name="customer[password]"
               id="CustomerPassword"
               class="inputPassword {% if form.errors contains 'password' %}input-error{% endif %}"
               placeholder="{{ 'customer.login.password' | t }}">
        <span class="showpass"></span>
      </div>
    {% endif %}

    <input type="submit" class="btn login-submit" value="{{ 'customer.login.sign_in' | t }}">

    <div class="form-links">
      <a href="/">{{ 'customer.login.cancel' | t }}</a>

      <a href="/account/register">
        {{ 'layout.customer.create_account' | t }}
      </a>

      {% if form.password_needed %}
        <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
      {% endif %}
    </div>
  {% endform %}

</div>

<div id="RecoverPasswordForm" class="hide">
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>
  <p class="invited-message hide" >Please, check your inbox for your account activation to log in! Or we can send you another one, click <a class="invited-link">here</a>!</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide reset-password-success"></span>
    {% endif %}

    <label for="RecoverEmail">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <div class="registerBtn-wrapper">
      <button type="button" id="HideRecoverPasswordLink" class="cancelBtn">
        {{ 'customer.recover_password.cancel' | t }}
      </button>

      <input type="submit" class="btn recover-submit" value="{{ 'customer.recover_password.submit' | t }}">
    </div>
  {% endform %}

</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}


<script>

  $('.login-submit').click(function (e) {
    e.preventDefault();
    let customer_email = $('#CustomerEmail').val();
    checkEmail(customer_email, '#customer_login');
  });

  $('.recover-submit').click(function (e) {
    e.preventDefault();
    let customer_email = $('#RecoverEmail').val();
    checkEmail(customer_email, '#RecoverPasswordForm form');
  });

  function checkEmail(customer_email, form) {
    $.ajax({
      type: "POST",
      url: "/apps/"+ window.theme.kitchenCentreKey +"/getCustomerState",
      dataType: "json",
      data: {
        email: customer_email
      },
      success: function(data) {
        console.log(data);
        if(data.state == 'invited' || data.state == 'disabled' ){
          showInvitedMessage(customer_email);
        }else{
          console.log('else');
          $(form).submit();
        }
      },
      error: function(XMLHttpRequest, textStatus) {
        console.log(textStatus);
        console.log(XMLHttpRequest);
      }
    });
  }

  function showInvitedMessage(customer_email) {
    $('.invited-message').removeClass('hide');
    $('.invited-link').attr('href', '/apps/'+ window.theme.kitchenCentreKey +'/trigger-activate-account/'+customer_email);
  }
</script>