  <div class="customer-page">
    <div class="customer-bar">
      <div>
        <h3>{{ 'customer.account.title' | t }}</h3>
        <a href="/account" class="customer-bar-link  active">{% include 'icon-order-history' %} {{ 'customer.orders.title' | t }}</a>
        <a href="/{{ shop.metafields.gwa.app_proxy }}/subscriptions/{{ customer.id }}" class="customer-bar-link">{% include 'icon-subscriptions' %} Subscriptions</a>
        {% comment %}<a href="/account/addresses" class="customer-bar-link">{% include 'icon-address' %} Address </a>{% endcomment %}
        <a href="/{{ shop.metafields.gwa.app_proxy }}/payment/{{ customer.id }}" class="customer-bar-link">{% include 'icon-customer-change-payment' %} Payment</a>
        <a href="/account/logout" id="customer_logout_link" class="customer-bar-link">{% include 'icon-log-out' %} Log out</a>
      </div>
    </div>
    <div class="customer-content-order">
      <h2>Order No :</h2>
      <div class="order-status">
        <p>{{ order.name }}</p>
        <p class="{% if order.financial_status_label == 'Pending' %} pending{% endif %}">{{ order.financial_status_label }}</p>
      </div>
      <p class="order-day">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
      <div class="order-full-block">
        <div class="order-full-header">
          <p>{{ 'customer.order.product' | t }}</p>
          <p>{{ 'customer.order.quantity' | t }}</p>
          <p>{{ 'customer.order.total' | t }}</p>
        </div>
        <div class="order-full-main">
          {% for line_item in order.line_items %}

            <div id="{{ line_item.key }}" class="order-line-item">
              <div class="item-image">
                {% if line_item.image != blank %}
                  {{ line_item | img_url: '100x100' | img_tag: item.title }}
                {% endif %}
              </div>
              <div class="item-content">
                <p class="item-content-title">{{ line_item.product.title }}</p>
                {% unless line_item.product.has_only_default_variant %}
                  <p class="item-content-variant">{{ line_item.variant.title }}</p>
                {% endunless %}
                {% comment %}
                <div class="meal-nutrition" data-variant-id="{{ line_item.variant_id }}">
                  <p><span>{{ nutrition.Protein }}</span>Protein (g)</p>
                  <p><span>{{ nutrition.Calories }}</span>Calories</p>
                  <p><span>{{ nutrition.Carbs }}</span>Carbs (g)</p>
                  <p><span>{{ nutrition.Fat }}</span>Fat (g)</p>
                </div>
                {% endcomment %}
              </div>
              <div class="item-content-qty">{{ line_item.quantity }}</div>

              <div class="item-content-total">{{ line_item.quantity | times: line_item.price | money }}</div>

            </div>

          {% endfor %}


        </div>
        <div class="order-full-footer">
          <p><span>{{ 'customer.order.subtotal' | t }}</span> <span>{{ order.subtotal_price | money }}</span></p>
          <p><span>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span><span>{{ tax_line.price | money }}</span></p>
          <p><span>{{ 'customer.order.total' | t }}</span><span>{{ order.total_price | money }} {{ order.currency }}</span></p>
        </div>
        <div class="order-full-address-every">
          <div>
            <p>{{ 'customer.order.billing_address' | t }}</p>
            {{ order.billing_address | format_address }}
          </div>
          <div>
            <p>{{ 'customer.order.shipping_address' | t }}</p>
            {{ order.shipping_address | format_address }}
          </div>
        </div>
      </div>
      <a class="return" href="/account">{% include 'icon-arrow-left' %} GO BACK</a>
    </div>
  </div>



