{% if section.settings.show %}
    <section id="section-{{ section.id }}" class="rich-text-section about-us-rich-text" {% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: 'x880' }}');"{% endif %}>
        <style>
            {% if section.settings.bg_picture_tablet %}
            @media screen and (max-width: 768px){
                #section-{{ section.id }}{
                    background-image: url('{{ section.settings.bg_picture_tablet | img_url: 'x740' }}') !important;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            {% endif %}
            {% if section.settings.bg_picture_mobile %}
            @media screen and (max-width: 480px){
                #section-{{ section.id }}{
                    background-image: url('{{ section.settings.bg_picture_mobile | img_url: 'x740' }}') !important;
                    background-position: bottom;
                    background-repeat: no-repeat;
                }
            }
            {% endif %}
        </style>

        <div class="page-width">
            <div class="rich-text-content">
                {% if section.settings.section_title != blank %}
                    <div class="rich-text__heading">
                        <h3>{{ section.settings.section_title }}</h3>
                    </div>
                {% endif %}

                {% if section.settings.text != blank %}
                    <div class="rich-text__text">
                        <p>{{ section.settings.text }}</p>
                    </div>
                {% endif %}
            </div>
        </div>

    </section>
{%- endif -%}


<style>

    {%- if section.settings.content_position == 'Left' -%}
    #section-{{ section.id }} .rich-text-content{
        align-items: flex-start;
    }
    #section-{{ section.id }} .rich-text-content .rich-text__text p{
        text-align: left;
    }
    {%- elsif section.settings.content_position == 'Center' -%}
    #section-{{ section.id }} .rich-text-content{
        align-items: center;
    }
    #section-{{ section.id }} .rich-text-content .rich-text__text p{
        text-align: center;
    }
    {%- elsif section.settings.content_position == 'Right' -%}
    #section-{{ section.id }} .rich-text-content{
        align-items: flex-end;
    }
    #section-{{ section.id }} .rich-text-content .rich-text__text p{
        text-align: right;
    }
    {%- endif -%}

    {%- if section.settings.image_size == 'small' -%}
    #section-{{ section.id }} {
        min-height: 440px;
    }
    {%- elsif section.settings.image_size == 'medium' -%}
    #section-{{ section.id }} {
        min-height: 686px;
    }
    {%- elsif section.settings.image_size == 'large' -%}
    #section-{{ section.id }} {
        min-height: 740px;
    }
    {%- endif -%}

</style>


{% schema %}
    {
    "name": "Rich text",
    "settings": [
    {
    "type": "checkbox",
    "id": "show",
    "label": "Show section",
    "default": true
    },
    {
    "type": "textarea",
    "id": "section_title",
    "label": "Title"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Text"
    },
    {
    "type": "select",
    "id": "content_position",
    "label": "Content position",
    "options": [
    {
    "value": "Left",
    "label": "left"
    },
    {
    "value": "Center",
    "label": "center"
    },
    {
    "value": "Right",
    "label": "right"
    }
    ],
    "default": "Center"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Background image"
    },
    {
    "type": "image_picker",
    "id": "bg_picture_tablet",
    "label": "Background image for tablet"
    },
    {
    "type": "image_picker",
    "id": "bg_picture_mobile",
    "label": "Background image for mobile"
    },
    {
    "type": "select",
    "id": "image_size",
    "label": "Image size",
    "options": [
    {
    "value": "small",
    "label": "Small"
    },
    {
    "value": "medium",
    "label": "Medium"
    },
    {
    "value": "large",
    "label": "Large"
    }
    ],
    "default": "medium"
    }
    ],
    "presets": [
    {
    "name": "Rich text with image",
    "category": "Text"
    }
    ]
    }
{% endschema %}
