{% if section.settings.show %}
    <div class="page-width contact-form-section">
        {%- if section.settings.title != blank -%}
            <h2>{{ section.settings.title | escape }}</h2>
        {%- endif -%}

        {% form 'contact' %}

            {% if form.posted_successfully? %}
                <p class="form-success">
                    {{ 'contact.form.post_success' | t }}
                </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div>
                <div class="input-wrapper">
                    <input type="text"
                           name="contact[name]"
                           id="ContactFormName"
                           placeholder="{{ 'contact.form.name' | t }}"
                           value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                    <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                </div>
                <div class="input-wrapper">
                    <input type="email"
                           name="contact[email]"
                           id="ContactFormEmail"
                           placeholder="{{ 'contact.form.email' | t }}"
                           value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                           spellcheck="false"
                           autocomplete="off"
                           autocapitalize="off">
                    <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                </div>
            </div>
           <div>
               <div class="input-wrapper">
                   <input type="tel"
                          name="contact[phone]"
                          id="ContactFormPhone"
                          placeholder="{{ 'contact.form.phone' | t }}"
                          value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                          pattern="[0-9\-]*">
                   <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
               </div>
               <div class="input-wrapper">
                   <input type="text"
                          name="contact[subject]"
                          id="ContactFormSubject"
                          placeholder="{{ 'contact.form.subject' | t }}"
                          value="{{ form[subject] }}">
                   <label for="ContactFormSubject">{{ 'contact.form.subject' | t }}</label>
               </div>
           </div>

            <div class="textarea-wrapper">
                  <textarea rows="10"
                            name="contact[body]"
                            id="ContactFormMessage"
                            placeholder="{{ 'contact.form.message' | t }}">
                {%- if form.body -%}
                    {{- form.body -}}
                {%- endif -%}
            </textarea>
                <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
            </div>


            <input type="submit" class="btn std-btn btn-yellow" value="{{ 'contact.form.send' | t }}">

        {% endform %}
    </div>

{% endif %}

{% schema %}
    {
        "name": "Contact form",
        "settings": [
            {
                "type": "checkbox",
                "id": "show",
                "label": "Show section",
                "default": true
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "presets": [
            {
                "category": "STORE INFORMATION",
                "name": "Contact form",
                "settings": {}
            }
        ]
    }
{% endschema %}