<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
  .announcement-bar {
      background-color: {{ section.settings.color_bg }};
  }
  .announcement-bar__message {
      color: {{ section.settings.color_text }};
  }
</style>


<div class="header-section" data-section-id="{{ section.id }}" data-section-type="header-section">
    {% if section.settings.message %}
        {% if section.settings.home_page_only == false or request.page_type == 'index' %}
            {% if section.settings.message_link == blank %}
                <div class="announcement-bar">
            {% else %}
                <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
            {% endif %}

            <p class="announcement-bar__message {% if section.settings.show_icon %}display-icon{% endif %}">{{ section.settings.message_text | escape }}</p>

            {% if section.settings.message_link == blank %}
                </div>
            {% else %}
                </a>
            {% endif %}
        {% endif %}
    {% endif %}


  <div class="grid">

      <!--mobilenavigation-->
      <div class="menu-btn-wrapper">
          <a href="#" class="menu-toggle-btn"></a>
      </div>

      <div class="menu-drawer  {% if section.settings.message and section.settings.home_page_only == true %}menu-drawer-with-bar-index{% endif %} {% if section.settings.message and section.settings.home_page_only == false %}menu-drawer-with-bar{% endif %}">
          <ul class="gw-nav gw-nav-list">
              <li class="init-un-active"> <a href="/"> <span class="gw-menu-text">Home</span> </a> </li>
              {% for link in linklists[section.settings.main_linklist].links %}
                  {% if link.links != blank %}
                      <li class="init-un-active link-dropdown">
                          <a href="#"><span class="gw-menu-text">{{ link.title | escape }} {% include 'icon-angle-down' %}</span></a>
                          <ul class="gw-submenu">
                              {% for childlink in link.links %}
                                  {% if childlink.links != blank %}
                                      <li>
                                          <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                                          <ul>
                                              {% for grandchildlink in childlink.links %}
                                                  <li>
                                                      <a href="{{ grandchildlink.url }}">{{ grandchildlink.title}}</a>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                      </li>
                                  {% else %}
                                      <li>
                                          <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                                      </li>
                                  {% endif %}
                              {% endfor %}
                          </ul>
                      </li>
                  {% else %}
                      <li class="init-un-active">
                          <a href="{{ link.url }}"><span class="gw-menu-text">{{ link.title | escape }}</span></a>
                      </li>
                  {% endif %}
              {% endfor %}

              <li class="init-un-active">
                  <div class="gw-menu-text search-container">
                      <div class="search-title">
                          <span>Search</span>
                          <div class="search-icon__icon-mob"></div>
                      </div>
                      <div class="search-icon">
                        <div class="search-overlay-mob">
                            {% comment %}
                            <div class="search-overlay__content search-overlay__content-mobile">
                                <form action="/search" method="get" role="search">
                                    <div class="input-wrapper">
                                        <input type="search"
                                               name="q"
                                               id="Search"
                                               value="{{ search.terms | escape }}"
                                               placeholder="{{ 'general.search.placeholder' | t }}">
                                        <button type="submit" class="btn">
                                            {% include 'icon-search' %}
                                            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            {% endcomment%}
                        </div>
                      </div>
                  </div>
              </li>

          </ul>
      </div>
      <!--mobilenavigation-->

      <header role="banner">
        {% if template.name == 'index' %}
          <h2 class="h1-logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x, {{ section.settings.logo | img_url: image_size, scale: 3 }} 3x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
        {% if template.name == 'index' %}
          </h2>
        {% else %}
          </div>
        {% endif %}
      </header>

     <nav role="navigation" class="menu-header">
        <ul>
            {% for link in linklists[section.settings.main_linklist].links %}
                {% if link.links != blank %}
                    <li class="dropdown-item">
                        <a href="#">{{ link.title | escape }} {% include 'icon-angle-down' %}</a>
                       <div class="dropdown-menu-overlay{% if section.settings.message %}{% if section.settings.home_page_only %}{% if template == 'index'  %} with-announce-bar{% endif %}{% else %} with-announce-bar{% endif %} {% endif %}">
                            <ul class="dropdown-menu with-images-level{% if link.links.size >2 %} title-with-img{% endif %}">
                              {% for childlink in link.links %}
                                {% if childlink.links != blank %}
                                  <li>
                                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                    <ul>
                                      {% for grandchildlink in childlink.links %}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="link-image">
                                              {%- assign icon = grandchildlink.object.image.src -%}
                                              {% if grandchildlink.type == 'product_link' %}
                                                  {% for tag in grandchildlink.object.tags %}
                                                      {% if tag contains 'meal-pack-collection:' %}
                                                          {% assign collection_handle = tag | remove: 'meal-pack-collection:' | strip %}
                                                          {% assign icon = collections[collection_handle].image.src %}
                                                      {% endif %}
                                                  {% endfor %}
                                                  {% unless icon %}
                                                    {% assign icon = grandchildlink.object.featured_image.src %}
                                                  {% endunless %}
                                              {% endif %}
                                              {%- assign img_url = icon | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                              {% if icon %}
                                                  <span>
                                                      <img class="lazyload"
                                                           data-help="{{ img_url }}"
                                                           src="{{ icon | img_url: '50x' }}"
                                                           srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                           data-src="{{ img_url }}"
                                                           data-widths="[50, 100, 250, 300, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                                           data-sizes="auto"
                                                           alt="{{ icon.alt | default: grandchildlink.title | append: ' Workout Meals ™' | escape }}">
                                                  </span>
                                                        {% endif %}
                                                 {{ grandchildlink.title }}
                                          </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  </li>
                                {% else %}
                                  <li>
                                    <a class="link-image" href="{{ childlink.url }}">{{ childlink.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}

                                {% comment %}<li class="button-all-packs">
                                    <a href="{{ link.url }}">{{ section.settings.link_bottom_text }}</a>
                                </li>{% endcomment %}
                            </ul>

                        </div>
                    </li>
                {% else %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                  </li>
                {% endif %}
            {% endfor %}


            {% comment %}
            {%- for link in linklists[section.settings.main_linklist].links -%}
                <li {% if link.links != blank %} class="dropdown-item"{% endif %}>
                    <a {% if link.links != blank %} href="#"{% else %}href="{{ link.url }}"{% endif %} {% if link.active %}aria-current="page"{% endif %}>
                        {{ link.title }}
                    </a>

                    {%- if link.links != blank -%}
                    <div class="dropdown-menu-overlay">
                        <ul  class="dropdown-menu">
                            {%- for child_link in link.links -%}
                                <li>
                                    <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                                        {{ child_link.title }}
                                    </a>

                                    {%- if child_link.links != blank -%}
                                        <ul>
                                            {%- for grandchild_link in child_link.links -%}
                                                <li>
                                                    <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                                        {{ grandchild_link.title }}
                                                    </a>
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                    {%- endif -%}

                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- endif -%}

                </li>
            {%- endfor -%}   {% endcomment %}
        </ul>
     </nav>

     <div class="search-icon">
        <div class="search-icon__icon"></div>
        <div class="search-overlay {% if section.settings.message and section.settings.home_page_only == true %}search-overlay-with-bar-index{% endif %} {% if section.settings.message and section.settings.home_page_only == false %}search-overlay-with-bar{% endif %}">
            <div class="search-overlay__content search-overlay__content">
                <form action="/search" method="get" role="search">
                    <div class="input-wrapper">
                        <input type="search"
                               name="q"
                               id="Search"
                               value="{{ search.terms | escape }}"
                               placeholder="{{ 'general.search.placeholder' | t }}">
                        <button type="submit" class="btn">
                            {% include 'icon-search' %}
                            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                        </button>
                    </div>
                </form>
                {% comment %}
                {% if search.performed %}
                    <ul class="search-results-header">
                        {% for item in search.results %}
                            <li>
                                {% assign featured_image = item.image | default: item.featured_image %}
                                {% if featured_image != blank %}
                                    <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                                        {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
                                    </a>
                                {% endif %}

                                <h5>{{ item.title | link_to: item.url }}</h5>

                                {% if item.object_type == 'product' %}
                                    <p>
                                        {% if item.compare_at_price > item.price %}
                                            {% if item.price_varies %}
                                                {% assign sale_price = item.price | money %}
                                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                            {% else %}
                                                {{ 'products.product.on_sale' | t }}
                                                <span itemprop="price">{{ item.price | money }}</span>
                                            {% endif %}
                                            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                            <s>{{ item.compare_at_price | money }}</s>
                                        {% else %}
                                            {% if item.price_varies %}
                                                {% assign price = item.price | money %}
                                                <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
                                            {% else %}
                                                <span itemprop="price">{{ item.price | money }}</span>
                                            {% endif %}
                                        {% endif %}
                                        {% unless item.available %}
                                            {{ 'products.product.sold_out' | t }}
                                        {% endunless %}
                                    </p>
                                {% else %}
                                    <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endcomment %}
            </div>
        </div>
    </div>

     {% if shop.customer_accounts_enabled %}
         {% comment %}
            <ul class="account">
                {% if customer %}
                    <li>
                        {% if customer.first_name != blank %}
                            {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                        {% else %}
                            <a href="/account">{{ 'layout.customer.account' | t }}</a>
                        {% endif %}
                    </li>
                    <li>
                        {{ 'layout.customer.log_out' | t | customer_logout_link }}
                    </li>
                {% else %}
                    <li>
                        <a href="/account/login">{% include 'icon-user' %}</a>
                       {% comment %} {{ 'layout.customer.log_in' | t | customer_login_link }}{% endcomment %}
                    </li>
                    {% comment %}<li>
                        {% include 'icon-lock' %}
                        {{ 'layout.customer.create_account' | t | customer_register_link }}
                    </li>{% endcomment %}
                {% endif %}
            </ul>
        {% endcomment %}

         <a href="/account" class="account">
             {% include 'icon-user' %}

             {% if customer.first_name != blank %}
                 <span>{{ customer.first_name }}</span>
             {% endif %}
         </a>
    {% endif %}

     <a class="header-cart js-drawer-open-button-right" aria-controls="CartDrawer" href="/cart">
        {% include 'icon-cart' %}
         <span class="header-cart-item-count{% unless cart.item_count > 0 %} hide {% endunless %}">{{ cart.item_count }}</span>
    </a>
  </div>

{% include 'search-autocomplete' %}

</div>

<div class="header-container {% if section.settings.message and section.settings.home_page_only == true %}header-container-with-bar-index{% endif %} {% if section.settings.message and section.settings.home_page_only == false %}header-container-with-bar{% endif %}"></div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
        {
            "type": "header",
            "content": "Announcement bar"
        },
        {
            "type": "checkbox",
            "id": "message",
            "label": "Show announcement",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "home_page_only",
            "label": "Home page only",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_icon",
            "label": "Show icon",
            "default": true
        },
        {
            "type": "text",
            "id": "message_text",
            "label": "Text",
            "default": "Announce something here"
        },
        {
            "type": "url",
            "id": "message_link",
            "label": "Link",
            "info": "Optional"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Bar",
            "default": "#fbb03b"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#fff"
        },

    {
    "type": "header",
    "content": "Meal Packs Navigation"
    },
    {
    "type": "text",
    "id": "link_bottom_text",
    "label": "Bottom link text",
    "default": "All Meal Packs"
    }
    ]
  }
{% endschema %}
