{% if section.settings.show %}
<section class="index-standards page-width">
    <div class="index-standards__image-wrap">
        {% if section.settings.image != blank %}
            {%- assign icon = section.settings.image.src -%}
            {%- assign img_url = icon | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                 src="{{ icon | img_url: '50x' }}"
                 srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="{{ img_url }}"
                 data-widths="[50, 100, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 data-parent-fit="contain"
                 alt="{{ icon.alt | default: 'Workout Meals ™' | escape }}">
        {% endif %}
    </div>
    <div class="index-standards__content">
        {% if section.settings.block_title != blank %}
            <h2 class="index-standards__content-title"{% if section.settings.list_uppercase %} style="text-transform: uppercase;"{% endif %}>{{ section.settings.block_title }}</h2>
        {% endif %}

        {% assign lines = section.settings.standards_richtext | split: '</p>' %}
        <ul>
            {% for line in lines %}
                {% assign line2 = line | remove: '--' | remove: '<p>' | strip %}
                {% unless line2 == "" %}
                    <li{% if section.settings.list_uppercase %} style="text-transform: uppercase;"{% endif %}>{{ line2 }}</li>
                {% endunless %}
            {% endfor %}
        </ul>
        {% if section.settings.button_link != blank and section.settings.button_title %}
            <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_title }}</a>
        {% endif %}
    </div>
</section>
{% endif %}

{% schema %}
    {
    "name": "Home Standards",
    "class": "index-section-standards",
    "settings": [
    {
    "type": "checkbox",
    "id": "show",
    "label": "Show",
    "default": true
    },
    {
    "type": "text",
    "id": "block_title",
    "label": "Title",
    "default": "Your title"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Photo of standards"
    },
    {
    "type": "richtext",
    "id": "standards_richtext",
    "label": "List of standards"
    },
    {
    "type": "checkbox",
    "id": "list_uppercase",
    "label": "Content text style - uppercase",
    "default": true
    },
    {
    "type": "text",
    "id": "button_title",
    "label": "Button title",
    "default": "VIEW THE MENU"
    },
    {
    "type": "url",
    "id": "button_link",
    "label": "Link for button"
    }
    ],
    "presets": [
    {
    "category": "Text",
    "name": "Home Standards"
    }
    ]
    }
{% endschema %}
