<div class="WM360-banner__container">
    <div class="WM360-banner__wrap">
        {% if section.settings.image_desktop == blank and section.settings.image_tablet == blank and section.settings.image_mobile == blank %}
            <h3 class="WM360-banner__text--blank"> Please choose your banner image</h3>
        {% else %}
            {%- assign icon_desktop = section.settings.image_desktop.src -%}
            {%- assign img_url_desktop = icon_desktop | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="WM360-banner__img lazyload banner-meal-pack--image-desktop"
                 src="{{ icon_desktop | img_url: '50x' }}"
                 data-src="{{ img_url_desktop }}"
                 data-widths="[50, 100, 180, 250, 300, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="{{ icon_desktop.alt | default: 'Workout Meals ™' | escape }}">

            {%- assign icon_tablet = section.settings.image_tablet.src -%}
            {%- assign img_url_tablet = icon_tablet | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="WM360-banner__img lazyload banner-meal-pack--image-tablet"
                 src="{{ icon_tablet | img_url: '50x' }}"
                 data-src="{{ img_url_tablet }}"
                 data-widths="[50, 100, 180, 250, 300, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="{{ icon_tablet.alt | default: 'Workout Meals ™' | escape }}">

            {%- assign icon_mobile = section.settings.image_mobile.src -%}
            {%- assign img_url_mobile = icon_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="WM360-banner__img lazyload banner-meal-pack--image-mobile"
                 src="{{ icon_mobile | img_url: '50x' }}"
                 data-src="{{ img_url_mobile }}"
                 data-widths="[50, 100, 180, 250, 300, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="{{ icon_mobile.alt | default: 'Workout Meals ™' | escape }}">
        {% endif %}
        <div class="WM360-on-banner__container {{ section.settings.content_position }}">
            {%- if section.settings.sub_headline_d != blank -%} <div style="color: {{ section.settings.sub_header_color }}" class="WM360-on-banner_subtitle--desktop">{{ section.settings.sub_headline_d }}</div> {%  endif %}
            {%- if section.settings.sub_headline_m != blank -%} <div style="color: {{ section.settings.sub_header_color }}" class="WM360-on-banner_subtitle--mob">{{ section.settings.sub_headline_m }}</div> {%  endif %}
            {%- if section.settings.headline_d != blank -%}  <div style="color: {{ section.settings.header_color }}" class="WM360-on-banner__title--desktop"> {{ section.settings.headline_d }}</div> {%  endif %}
            {%- if section.settings.headline_m != blank -%}  <div style="color: {{ section.settings.header_color }}" class="WM360-on-banner__title--mob"> {{ section.settings.headline_m }}</div> {%  endif %}
            {% if section.settings.headline_underline == true %} <div class="WM360-on-banner__line-container"><div class="WM360-on-banner__line"></div> </div> {% else %}{% endif %}
            {%- if section.settings.paragraph_d != blank -%} <div style="color: {{ section.settings.paragraph_color }}" class="WM360-on-banner__text--desktop">{{ section.settings.paragraph_d }}</div> {% endif %}
            {%- if section.settings.paragraph_m != blank -%} <div style="color: {{ section.settings.paragraph_color }}" class="ok WM360-on-banner__text--mob">{{ section.settings.paragraph_m }}</div> {% endif %}
        </div>
    </div>
    </div>

{% schema %}
{
"name": "WM360 banner",
"settings": [
{
"type": "image_picker",
"id": "image_desktop",
"label": "Desktop Image"
},
{
"type": "image_picker",
"id": "image_tablet",
"label": "Tablet Image"
},
{
"type": "image_picker",
"id": "image_mobile",
"label": "Mobile Image"
},
{
"type": "select",
"id": "content_position",
"label": "Content position",
"options": [
{
"label": "Top",
"value": "WM360-on-banner__container--top"
},
{
"label": "Center",
"value": ""
},
{
"label": "Bottom",
"value": "WM360-on-banner__container--bottom"
}
]
},
{
"type": "checkbox",
"id": "headline_underline",
"default": true,
"label": "Add line under headline"
},
{
"type": "richtext",
"id": "sub_headline_d",
"label": "Sub-headline desktop"
},
{
"type": "richtext",
"id": "sub_headline_m",
"label": "Sub-headline mobile"
},
{
"type": "color",
"id": "sub_header_color",
"label": "Sub-headline color",
"default": "#000000"
},
{
"type": "richtext",
"id": "headline_d",
"label": "Headline desktop"
},
{
"type": "richtext",
"id": "headline_m",
"label": "Headline mobile"
},
{
"type": "color",
"id": "header_color",
"label": "Headline color",
"default": "#000000"
},
{
"type": "richtext",
"id": "paragraph_d",
"label": "Paragraph desktop"
},
{
"type": "richtext",
"id": "paragraph_m",
"label": "Paragraph mobile"
},
{
"type": "color",
"id": "paragraph_color",
"label": "Paragraph color",
"default": "#000000"
}
]
}
{% endschema %}
