<section data-section-id="{{ section.id }}"  id="section-{{ section.id }}" class="social-networks-section page-width">
    {% if section.settings.title != blank %}
        <h3>{{ section.settings.title }}</h3>
    {% endif %}

    <div class="all-photo">
            {% for block in section.blocks %}
                <div class="photo">
                    {%- if block.settings.post_link != blank -%}
                        <a href="{{ block.settings.post_link }}">
                    {%- endif -%}

                        {%- if block.settings.image != blank -%}
                            {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            <img class="lazyload"
                                 src="{{ block.settings.image | img_url: '368x' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ block.settings.image.alt | escape }}">

                        {%- endif -%}

                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <path fill-rule="evenodd" d="M25.86.001c4.847.006 5.742.039 8.035.143 2.555.117 4.3.523 5.826 1.116 1.578.613 2.917 1.434 4.25 2.768 1.335 1.334 2.156 2.673 2.77 4.251.592 1.527.998 3.271 1.115 5.826.116 2.56.144 3.377.144 9.895s-.028 7.335-.144 9.895c-.117 2.555-.523 4.3-1.116 5.826-.613 1.578-1.434 2.917-2.768 4.25-1.334 1.335-2.673 2.156-4.251 2.77-1.527.592-3.271.998-5.826 1.115-2.56.116-3.377.144-9.895.144s-7.335-.028-9.895-.144c-2.555-.117-4.3-.523-5.826-1.116-1.578-.613-2.917-1.434-4.25-2.768-1.335-1.334-2.156-2.673-2.769-4.251-.593-1.527-1-3.271-1.116-5.826C.04 31.602.007 30.707.001 25.86v-3.72c.006-4.847.039-5.742.143-8.035.117-2.555.523-4.3 1.116-5.826.613-1.578 1.434-2.917 2.768-4.25C5.362 2.693 6.701 1.872 8.28 1.26 9.806.667 11.55.26 14.105.144 16.398.04 17.293.007 22.14.001zm-.342 4.324h-3.036c-5.032.004-5.865.034-8.18.14-2.34.106-3.61.497-4.457.826-1.12.435-1.92.955-2.76 1.795-.839.84-1.359 1.64-1.794 2.76-.33.845-.72 2.116-.827 4.456-.105 2.315-.135 3.148-.14 8.18v3.036c.005 5.032.035 5.865.14 8.18.107 2.34.498 3.61.827 4.457.435 1.12.955 1.92 1.795 2.76.84.839 1.64 1.359 2.76 1.794.845.33 2.116.72 4.456.827 2.315.105 3.147.135 8.18.14h3.036c5.033-.005 5.865-.035 8.18-.14 2.34-.107 3.61-.498 4.457-.827 1.12-.435 1.92-.955 2.76-1.795.839-.84 1.359-1.64 1.794-2.76.33-.845.72-2.116.827-4.456.105-2.315.135-3.148.14-8.18v-3.036c-.005-5.032-.035-5.865-.14-8.18-.107-2.34-.498-3.61-.827-4.457-.435-1.12-.955-1.92-1.795-2.76-.84-.839-1.64-1.359-2.76-1.794-.845-.33-2.116-.72-4.456-.827-2.315-.105-3.148-.135-8.18-.14zM24 11.675c6.807 0 12.324 5.518 12.324 12.325 0 6.807-5.517 12.324-12.324 12.324-6.807 0-12.324-5.517-12.324-12.324 0-6.807 5.517-12.324 12.324-12.324zM24 16c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm12.811-7.691c1.59 0 2.88 1.29 2.88 2.88 0 1.59-1.29 2.88-2.88 2.88-1.59 0-2.88-1.29-2.88-2.88 0-1.59 1.29-2.88 2.88-2.88z"/>
                        </svg>

                    {%- if block.settings.post_link != blank -%}
                        </a>
                    {%- endif -%}
                </div>
            {% endfor %}
    </div>
</section>


{% schema %}
    {
        "name": "Social networks",
        "max_blocks": 4,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "INSTAGRAM POSTS"
            }
        ],
        "blocks": [
        {
            "type": "post",
            "name": "Post",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "id": "post_link",
                    "type": "url",
                    "label": "Link to post"
                }
            ]
        }
        ],
        "presets": [
        {
            "category": "STORE INFORMATION",
            "name": "Social networks",
            "blocks": [
                {
                    "type": "post"
                }
            ]
        }
        ]
    }
{% endschema %}
