{% if section.settings.show %}
    <section class="grid wm-360-about__content page-width">
        <h2>{{ section.settings.header }}</h2>
        <div class="wm-360-about__content-info">{{ section.settings.main-content }}</div>
        <div class="wm-360-about__reasons">
            {% for block in section.blocks %}
            <div>
                {{ block.settings.element_icon }}
                <p>{{ block.settings.element_text }}</p>
            </div>
            {% endfor %}
        </div>
        <p class="wm-360-about__content-info">{{ section.settings.bottom-comment }}</p>
    </section>
    <section class="wm-360-about__image-wrap">
        {%- assign icon_full = section.settings.image_full.src -%}
        {%- assign img_url_full = icon_full | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="image__full lazyload"
             src="{{ icon_full | img_url: '100x' }}"
             data-src="{{ img_url_full }}"
             data-widths="[50, 100, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-sizes="auto"
             alt="{{ icon_full.alt | default: 'Workout Meals ™' | escape }}">

        {%- assign icon_tablet = section.settings.image_tablet.src -%}
        {%- assign img_url_tablet = icon_tablet | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="image__tablet lazyload"
             src="{{ icon_tablet | img_url: '100x' }}"
             data-src="{{ img_url_tablet }}"
             data-widths="[50, 100, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-sizes="auto"
             alt="{{ icon_tablet.alt | default: 'Workout Meals ™' | escape }}">

        {%- assign icon_mobile = section.settings.image_mobile.src -%}
        {%- assign img_url_mobile = icon_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="image__mobile lazyload"
             src="{{ icon_mobile | img_url: '100x' }}"
             data-src="{{ img_url_mobile }}"
             data-widths="[50, 100, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728]"
             data-sizes="auto"
             alt="{{ icon_mobile.alt | default: 'Workout Meals ™' | escape }}">
    </section>
{% endif %}


{% schema %}
    {
    "name": "What is wm-360",
    "class": "wm-360-about",
    "max_blocks": 3,
    "settings": [
    {
    "type": "checkbox",
    "id": "show",
    "label": "Show",
    "default": true
    },
    {
    "type": "text",
    "id": "header",
    "label": "Header section",
    "default": "What is WM360?"
    },
    {
    "type": "richtext",
    "id": "main-content",
    "label": "Main info"
    },
    {
    "type": "text",
    "id": "bottom-comment",
    "label": "Bottom text"
    },
    {
    "type": "image_picker",
    "id": "image_full",
    "label": "Image for desktop"
    },
    {
    "type": "image_picker",
    "id": "image_tablet",
    "label": "Image for tablet"
    },
    {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Image for mobile"
    }
    ],
    "blocks": [
    {
    "type": "fundamental-reason",
    "name": "Fundamental reason",
    "settings": [
    {
    "type": "html",
    "id": "element_icon",
    "label": "Fundamental reason icon",
    "default": "<div><p>Your SVG icon</p></div>"
    },
    {
    "type": "text",
    "id": "element_text",
    "label": "Fundamental reason text"
    }
    ]
    }
    ]
    }
{% endschema %}